body {
    background: whitesmoke;
    font-family: "Lato", sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 8fr);
    grid-gap: 1.5rem;
    grid-auto-rows: minmax(100px, auto);
}
.one {
    grid-column: 1;
    grid-row: 1;
}
.container2 {
    display: inline-block;
    width: 30rem;
    min-height: 10rem;
    background: red;
}
.nav_li > li{
    display: inline;
    padding-right: 2.5rem;
    font-weight: 500;
}